@import '../../variables';

.page-background {
  width: 100vw;
  height: 100vh;
  background: $header-dark;
  display: table-cell;
  vertical-align: middle;


  .change-user-data-container {
    width: 40%;
    .info{
      color: $white;
      font-size: $fs-sm;
    }

    .logo {
      height: auto;
      max-width: 12.4rem;
      display: block;
      margin: 3rem auto;
    }
    .MuiInputBase-root {
      margin: 0;
    }
    .css-wb57ya-MuiFormControl-root-MuiTextField-root {
      align-items: center;

      .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
        font-family: unset;
      }
    }

    .css-wb57ya-MuiFormControl-root-MuiTextField-root {
      margin-bottom: 1.5rem;
    }

    input {
      width: 100%;
      height: 3rem;
      padding: .65rem 1.7rem;
      background-color: $lightest-dark;
      color: $input-holder;
      border: none;
      font-size: $fs-sm;
      font-weight: 400;
    }

    input::placeholder {
      opacity: 0.75;
    }
    Button.change-user-data-btn {
      display: block;
      height: 4rem;
      margin: 1rem auto;
      padding: 1rem 1.6rem;
      text-align: center;
      font-weight: normal;
      background-color: $primary-btn;
      border-radius: 0;
      color: $white;
      font-size: $fs-sm;
      text-transform: none;
    }
  }
}



