@import '../../variables';

.SearchFilterBar-wrapper{
  background-color: $lightest-dark;
  margin: 0 auto;

  .search{

    .icon{
      font-size: $fs-xxl;
      color: $text-dark;
      background-color: $header-dark;
      margin-left: 0.9rem;
    }

    .MuiInputBase-root{
      height: 3.8rem;
      width: 19.4rem;
      background-color: $header-dark;
      color: $dark-arrow;
      font-family: $primary-font;
      font-size: $fs-lg;
      margin: 1rem 2rem;

    }
  }

  hr{
    border: 0;
    border-top: 0.3rem solid $primary-dark;
    width: 97%;
    margin: 0 auto;
  }

  .button{
    background-color:$primary-dark;
    margin: 1rem 2rem;
    //width: 11.1rem;
    height: 3.9rem;
    text-align: center;
    float: right;

    .text{
      font-size: $fs-lg;
      font-family: $primary-font ;
      text-transform: capitalize;
      color: $white;
      margin-right: 0.5rem;
      margin-left: 0.5rem;

    }

    .filter-icon{
      color: $dark-arrow;
      font-size: $fs-lg;
      margin-left: 0.4rem;
    }

  }
}
