@import "../../../variables";

.user-data-fragment__container {
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 2rem;
  background-color: $primary-dark;

  .user-data-fragment__header {
    margin: 0;
    text-align: left;
    font-size: $fs-xs;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: $light-arrow;
  }

  div {
    display: flex;
    width: 100%;

    .user-data-fragment__value {
      text-align: left;
      font: normal normal bold 15px/25px Catamaran;
      letter-spacing: 1.5px;
      color: $white;

      .user-data-fragment__value--dark {
        margin-left: 0.3rem;
        color: $mid-dark-arrow;
        font-weight: normal;
      }
    }

    .user-data-fragment__stars {
      margin-left: 1rem;

      .user-data-fragment__star--red {
        fill: $primary-btn;
      }

      .user-data-fragment__star--gray {
        fill: $text-dark;
      }
    }
  }
}
