@import "../../../variables";

.user-data-fragment__container {
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  background-color: $primary-dark;

  .user-data-fragment__header {
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    color: $light-arrow;
  }
  .user-data-fragment__value {
    text-align: left;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: $white;

    .user-data-fragment__value--dark {
      margin-left: 0.3rem;
      color: $mid-dark-arrow;
      font-weight: normal;
    }
  }
}
