@import "../../variables";

.page-wrapper {
  width: 100vw;
  height: 91.2vh;
  padding: 1rem 0;
  background-color: $primary-dark;

  .list-wrapper {
    //height: 95%;
    //width: $width-80;
    max-width: 180rem;
    width: 97.5%;
    margin: 0 auto;
    background-color: $lightest-dark;
  }
}

