@import "../../variables";

.page-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 1rem 0;
  background-color: $primary-dark;

  .main-wrapper {
    width: $width-80;
    max-width: 180rem;
    margin: 2rem auto;
    background-color: $lightest-dark;

    .list-wrapper {
      padding-bottom: 1.7rem;
    }
  }
}

