@import '../../variables';

.page-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 1rem 0;
  background-color: $primary-dark;

  .list-wrapper {
    height: 90vw;
    width: $width-80;
    margin: 0 auto;
    background-color: $lightest-dark;
  }
}

