@import "../../variables";
@import '../UserData/UserDataShared';

.reserved-user-data__container {
  @extend .shared-user-data;


.reserved-user-data__nav {


  .date-and-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 20rem;

    .reservation-date{
      font-size: $fs-lg;

      .bold {
        font-weight: bold;
      }
    }

    img {
      height: 100%;
    }

  }
  @extend .shared-user-data-nav;
}

.user-data__fragments {
    @extend .shared-user-data-fragment;
}
}
