@import "../../variables";

.CVView__container {
  position: relative;
  width: 100%;
  background-color: $primary-dark;

  .page__container {
    display: flex;
  }

  .CVView__wrapper {
    padding: 2rem 0;
    background-color: $primary-dark;
    height: fit-content;
    width: 80%;
    margin: 0 auto;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    @media (max-width: 105rem) {
      justify-content: start;
    }
  }

  .CVView__back {
    position: absolute;
    left: 1rem;
    height: 4rem;
    min-width: 7rem;
    margin-right: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .CVView__back__svg {
      transform: rotate(90deg);
      fill: $dark-arrow;
    }
    .CVView__back__span {
      font-size: $fs-lg;
      color: $white;
      font-weight: bold;
    }
  }
}
