@import '../../variables';

.user-data__container {
  width: 100%;
}

.user-data__nav {
  display: flex;
  justify-content: space-between;
  height: 7rem;
  background-color: $lightest-dark;

  h4 {
    text-align: left;
    font: normal normal normal 18px/30px "Catamaran";
    margin-left: 1.6rem;
    color: #f7f7f7;
  }
  .input-container {
    display: flex;
    width: 15.5rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;

    input {
      height: 3.9rem;
      background-color: #e02735;
      color: #f7f7f7;
      outline: 0;
      border: 0;
      padding: 0.5rem 1rem;
      font: normal normal normal 16px/27px Catamaran;
    }
  }
}
.user-data__nav__svg--rotate {
  transform: rotate(180deg);
}
.user-data__fragments {
  display: flex;
  border-bottom: 1.6rem solid $header-dark;
  div:not(:last-child) {
    border-right: 2px solid $lightest-dark;
  }
}
