.page-background {
  width: 100vw;
  height: 100vh;
  background: #222224 0 0 no-repeat padding-box;
  display: table-cell;
  vertical-align: middle;
}


.logo {
  display: block;
  margin: 20px auto;
  width: 124px;
  height: 76px;
  background: transparent url('../../assets/images/logo.png') 0 0 no-repeat padding-box;
  background-size: contain;
}

input#login-email {
  width: 80%;
  height: 40px;
  background-color: #e8f0fe;
  border: none;
  margin: 20px auto;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0 0 0 5px;
}

input#login-email::placeholder {
  color: #000000;
  opacity: 1;
}

Button.link-login-button {
  display: block;
  margin: 10px auto;
  height: 4rem;
  background-color: #e02735;
  color: #f7f7f7;
  text-align: center;
  text-transform: none;
  font-size: 1.3rem;
}