@import '../../variables';

.page-background {
  width: 100vw;
  height: 100vh;
  background: $header-dark;
  display: table-cell;
  vertical-align: middle;
}

.logo {
  display: block;
  margin: 2rem auto;
  max-width: 8.9rem;
  height: auto;
}

input#login-email {
  width: 80%;
  height: 4rem;
  background-color: $input-bgc;
  border: none;
  margin: 2rem auto;
  font-size: $fs-sm;
  font-weight: 400;
  padding: 0 0 0 5px;
}

input#login-email::placeholder {
  color: $primary-dark;
  opacity: 1;
}

Button.link-login-button {
  display: block;
  margin: 1rem auto;
  height: 4rem;
  background-color: $primary-btn;
  color: $white;
  text-align: center;
  text-transform: none;
  font-size: $fs-sm;
}