@import '../../variables';

.header {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $header-dark;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      max-width: 8.9rem;
      height: auto;
    }
  }
}