.page-background {
  //position: absolute;
  top: 0;
  left: 0;
  min-width: 1920px;
  min-height: 1080px;
  background: #222224 0 0 no-repeat padding-box;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 399px;
  left: 898px;
  width: 124px;
  height: 76px;
  margin-bottom: 20px;
  background: transparent url('../assets/img/megak-logo.png') 0 0 no-repeat padding-box;
  background-size: contain;
}

.login-email, .login-password {
  width: 350px;
  height: 40px;
  background: #292A2B 0 0 no-repeat padding-box;
  padding: 0;
  border: none;
  //margin-bottom: 15px;
}

.login-email::placeholder, .login-password::placeholder {
  padding-left: 17px;
}

.login-email {
  position: absolute;

  top: 505px;
  left: 785px;
}

.login-password {
  position: absolute;

  top: 560px;
  left: 785px;
}

.forgot-password-link {
  position: absolute;
  width: 130px;
  height: 23px;
  color: var(--unnamed-color-f7f7f7);
  text-align: center;
  font: normal normal medium 14px/24px Catamaran;
  letter-spacing: 0.7px;
}
