@import "../../_variables";

.navbar-wrapper {
  width: 100%;

  .students-availability {
    display: flex;

    li {
      height: 7rem;
      display: flex;
      align-items: center;
      padding: 0 3rem;
      list-style: none;

      button {
        font-size: $fs-xl;
        background-color: inherit;
        color: $white;
        cursor: pointer;

        &.active {
          border-bottom: 3px solid $active-underline;
        }
      }
    }
  }
}

