@import '../../variables';

.page-background {
  width: 100vw;
  height: 100vh;
  background: $header-dark;
  display: table-cell;
  vertical-align: middle;
}

  .login-container {
    width: 40%;

.logo {
  display: block;
  margin: 2rem auto;
  max-width: 8.9rem;
  height: auto;
}

input#login-email, input#login-pass {
  width: 100%;
  height: 3rem;
  padding: .65rem 1.7rem;
  background-color: $lightest-dark;
  color: $input-holder;
  border: none;
  margin: 2rem auto;
  font-size: $fs-sm;
  font-weight: 400;
  padding: 0 0 0 5px;
}

input#login-email::placeholder, input#login-pass::placeholder {
  opacity: 0.75;
}

Button.login-btn {
  margin: 1rem auto;
  height: 4rem;
  background-color: $primary-btn;
  color: $white;
  text-align: center;
  text-transform: none;
  font-size: $fs-sm;
}

.forgot-password-link {
  color: $white;
  text-align: right;
  text-transform: none;
  font-size: $fs-sm;
}

.login-ask {
  margin-right: 1rem;
}

.login-link {
  padding: 0;
  font-weight: bold;
  text-transform: none;
  vertical-align: baseline;
}