:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors: */
  --unnamed-color-4d4d4d: #4D4D4D;
  --unnamed-color-0b8bd4: #0B8BD4;
  --unnamed-color-1ecb40: #1ECB40;
  --unnamed-color-e02735: #E02735;
  --unnamed-color-666666: #666666;
  --unnamed-color-7e7e7e: #7E7E7E;
  --unnamed-color-9e9e9e: #9E9E9E;
  --unnamed-color-cfcfcf: #CFCFCF;
  --unnamed-color-f7f7f7: #F7F7F7;
  --unnamed-color-ff0004: #FF0004;
  --unnamed-color-ee4540: #EE4540;
  --unnamed-color-c92929: #C92929;
  --unnamed-color-811336: #811336;
  --unnamed-color-510a0a: #510A0A;
  --unnamed-color-2d1414: #2D1414;
  --unnamed-color-0a0a0a: #0A0A0A;
}
