@import './variables';

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html, :root {
  font-size: 62.5%;
  font-family: $primary-font;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}


textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}